<!-- Created   string
		Director  string
		Edited    string
		EpisodeId int
		Producer  string
		Title     string
		Url       string -->
<html>

<head>
    
</head>

<body>
    <table>
        <tr>
            <td>Created</td>
            <td>{{.Created}}</td>
        </tr>
        
        <tr>
            <td>Director</td>
            <td>{{.Director}}</td>
        </tr>
        <tr>
            <td>EpisodeId</td>
            <td>{{.EpisodeId}}</td>
        </tr>
        <tr>
            <td>Producer</td>
            <td>{{.Producer}}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{.Title}}</td>
        </tr>
        <tr>
            <td>Url </td>
            <td>{{.Url }}</td>
        </tr>
        
    </table>
</body>

</html>