<html>
<head><title></title></head>
<body>
    
    
    <form action="http://localhost:9090/people" method="post">
        get person：<input type="text" name="people">
        <input type="submit" value="查询">
    </form>
    <form action="http://localhost:9090/film" method="post">
        get film：<input type="text" name="film">
        <input type="submit" value="查询">
    </form>

    <form action="http://localhost:9090/planet" method="post">
        get planet：<input type="text" name="planet">
        <input type="submit" value="查询">
    </form>

    <form action="http://localhost:9090/species" method="post">
        get species：<input type="text" name="species">
        <input type="submit" value="查询">
    </form>

    <form action="http://localhost:9090/starship" method="post">
        get starship：<input type="text" name="starship">
        <input type="submit" value="查询">
    </form>

    <form action="http://localhost:9090/vehicle" method="post">
        get vehicle：<input type="text" name="vehicle">
        <input type="submit" value="查询">
    </form>
</body>
</html>
