<!-- Climate        string
		Created        string
		Diameter       string
		Edited         string
		Gravity        string
		Name           string
		OrbitalPeriod  string
		Population     string
		RotationPeriod string
		SurfaceWater   string
		Terrain        string
		Url            string -->
<html>

<head>
    
</head>

<body>
    <table>
        <tr>
            <td>Climate</td>
            <td>{{.Climate}}</td>
        </tr>
        
        <tr>
            <td>Created</td>
            <td>{{.Created}}</td>
        </tr>
        <tr>
            <td>Diameter</td>
            <td>{{.Diameter}}</td>
        </tr>
        <tr>
            <td>Edited</td>
            <td>{{.Edited}}</td>
        </tr>
        <tr>
            <td>Gravity</td>
            <td>{{.Gravity}}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <td>OrbitalPeriod</td>
            <td>{{.OrbitalPeriod}}</td>
        </tr>
        
        <tr>
            <td>Population</td>
            <td>{{.Population}}</td>
        </tr>
        <tr>
            <td>RotationPeriod</td>
            <td>{{.RotationPeriod}}</td>
        </tr>
        <tr>
            <td>SurfaceWater</td>
            <td>{{.SurfaceWater}}</td>
        </tr>
        <tr>
            <td>Terrain</td>
            <td>{{.Terrain}}</td>
        </tr>
        <tr>
            <td>Url</td>
            <td>{{.Url}}</td>
        </tr>
        
    </table>
</body>

</html>