<html>

<head>
    
</head>

<body>
    <table>
        <tr>
            <td>Name</td>
            <td>{{.Name}}</td>
        </tr>
        
        <tr>
            <td>Classification</td>
            <td>{{.Classification}}</td>
        </tr>
        <tr>
            <td>Designation </td>
            <td>{{.Designation }}</td>
        </tr>
        <tr>
            <td>AverageHeight</td>
            <td>{{.AverageHeight}}</td>
        </tr>
        
        <tr>
            <td>AverageLifespan</td>
            <td>{{.AverageLifespan}}</td>
        </tr>
        <tr>
            <td>Homeworld </td>
            <td>{{.Homeworld }}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{.Created}}</td>
        </tr>
        <tr>
            <td>Edited</td>
            <td>{{.Edited}}</td>
        </tr>
        <tr>
            <td>Url</td>
            <td>{{.Url}}</td>
        </tr>
        
    </table>
</body>

</html>