<html>

<head>
    
</head>

<body>
    <table>
        <tr>
            <td>Name</td>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <td>MGLT</td>
            <td>{{.MGLT}}</td>
        </tr>
        <tr>
            <td>CargoCapacity</td>
            <td>{{.CargoCapacity}}</td>
        </tr>
        <tr>
            <td>Consumables</td>
            <td>{{.Consumables}}</td>
        </tr>
        <tr>
            <td>CostInCredits</td>
            <td>{{.CostInCredits}}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{.Created}}</td>
        </tr>
        <tr>
            <td>Crew</td>
            <td>{{.Crew}}</td>
        </tr>
        
        <tr>
            <td>Edited</td>
            <td>{{.Edited}}</td>
        </tr>
        <tr>
            <td>HyperdriveRating</td>
            <td>{{.HyperdriveRating}}</td>
        </tr>
        <tr>
            <td>Length</td>
            <td>{{.Length}}</td>
        </tr>
        <tr>
            <td>Manufacturer</td>
            <td>{{.Manufacturer}}</td>
        </tr>
        <tr>
            <td>MaxAtmospheringSpeed</td>
            <td>{{.MaxAtmospheringSpeed}}</td>
        </tr>
        <tr>
            <td>Model</td>
            <td>{{.Model}}</td>
        </tr>
        <tr>
            <td>Passengers</td>
            <td>{{.Passengers}}</td>
        </tr>
        <tr>
            <td>StarshipClass</td>
            <td>{{.StarshipClass}}</td>
        </tr>
        <tr>
            <td>Url</td>
            <td>{{.Url}}</td>
        </tr>
        
    </table>
</body>

</html>